*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #f3f3f3;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #eee;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .list{
  width: 100%;
  max-width: 1000px;
  height: 500px;
  background: #fff;
  border: 2px solid #000;
  margin-top: 25px;
}

main .list .item{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

main .list .item:hover{
  background: rgba(0,0,0,0.05);
}

button{
  background-color: aqua;
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 7px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
}

button:hover{
  background: rgb(9, 199, 120);
}

.btn{
  margin-top: 20px;
}

span{
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 7px;
  margin-right: 20px;
}